@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.contact-canvas {
  @apply w-[90vw]
  w-full max-w-[960px]
  min-h-[320px] max-h-[720px]
  h-[50vh]
  xs:h-[360px]
  xxs:h-[380px]
  sxs:h-[400px]
  sm:h-[520px]
  md:h-[720px];
}